<form id="new-post-form">
    <div id="new-post-form" class="form-group">
        <input type="text" name="post_title" class="form-control" id="post_title" placeholder="Title" />
    </div>
    <div id="new-post-form" class="form-group">
        <input type="text" name="post_body" class="form-control" id="post_body" placeholder="Write a post..." />
    </div>
    <div id="new-post-form" class="form-group">
        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/add-post.js"></script>