{{#each posts}}
	<a href="/post/{{id}}" class="post-link">
		<div class="card mt-3">
			<div class="card-header">
				<p class="card-text date"> {{format_date createdAt}}</p>
				<h5 class="card-title">{{post_title}}</h5>
				<h6 class=" text-dark card-subtitle">{{user.username}}</h6>
			</div>

		</div>
	</a>
{{/each}}