{{#each posts}}
	<a href="/post/{{id}}" class="post-link">
		<div class="card mt-3">
			<h3 class="card-header">
				<p class="card-text date">{{format_date createdAt}}</p>
				{{title}}
			</h3>

		</div>
	</a>
{{/each}}