<div class="col-10">
    <a href="/dashboard/edit/{{id}}">
        <div class="card mt-3">
            <div class="card-header text-center">
                <p class="card-text date"> {{format_date created_at}}</p>
                <h5 class="card-title">{{title}}</h5>
            </div>
        </div>
    </a>
</div>