{{! Write Comment Section }}

<form class="comment-form">
	<div class="form-group">
		<textarea
			type="text"
			id="comment"
			name="comment"
			placeholder="Write a comment..."
			class="col-12"
		></textarea>
	</div>
	<div class="form-group d-flex col-12 justify-content-end">
		<button
			type="submit"
			class="btn btn-sm btn-secondary"
			id="post-comment"
		><i class="fas fa-reply-all text-right"></i></button>

	</div>

</form>