{{! Write Comment Section }}

<form class="comment-form">
	<div class="form-group">
		<input type="text" id="comment_body" name="comment_body" placeholder="Write a comment..."
			class="col-12"></input>
		<button type="submit" class="btn btn-sm btn-secondary" id="post-comment"><i
				class="fas fa-reply-all text-right"></i></button>
	</div>


</form>

<script src="/js/save-comment.js"