<div class="row justify-content-center">
  <h1>Login</h1>
</div>
<div class="row justify-content-center">


  <form id="login-form">
    <div class="form-group">
      <input id="username-login" type="text" autofocus="true" class="form-input" placeholder="Username" />
    </div>
    <div class="form-group">
      <input id="password-login" type="password" autofocus="true" class="form-input" placeholder="Password" />
    </div>
    <div class="form-group justify-content-center">
      <button class="btn btn-sm btn-primary" type="submit">Login</button>
    </div>
  </form>

  <div class="col-12 d-flex justify-content-center">
    <p>Not yet a Member?</p>
    <a href="/signup"><button class="btn btn-sm btn-primary ml-2">Sign Up</button></a>
  </div>


  <script src="/js/login.js"></script>