{{> post-info post}}

{{#if logged_in}}
    <div class="card">
        <h3 class="card-header"></h3>
        <form class="card-body comment-form" id="comment-form">
            <div class="form-group">
                <input class="col-12" type="text" id="comment" id="comment-body" name="comment-body"
                    placeholder="Write a comment..."></input>
            </div>
            <div>
                <button type="submit" class="btn btn-sm btn-secondary" id="post-comment"><i
                        class="fas fa-reply-all text-right"></i></button>
            </div>
        </form>
    </div>
{{/if}}
<div class="row justify-content-center">
    <div class="col-10">
        {{> show-comments post.comments}}
    </div>
</div>

{{#if logged_in}}
    <script src="/js/save-comment.js"></script>
{{/if}}