<form class="signup-form">
  <div class="form-group">
    <input
      type="text"
      placeholder="Username"
      name="username"
      id="username-signup"
    />
  </div>
  <div class="form-group">
    <input type="text" placeholder="Email" name="email" id="email-signup" />
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password-signup"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>
<p>Already a Member?</p><a href="/login"><button
    class="btn btn-primary"
  >Login</button></a>

<script src="/js/register.js"></script>