.date {
    font-size: small;
    justify-content: start;
    color: rgba(0, 0, 0, 0.3);
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.post-details {
    width: 80%;
}

input {
    resize: none;
    border: none;
    height: 50px;
    position: relative;
    background-color: rgb(0, 0, 0, .05);
    padding: 15px;
}

i {
    font-size: larger;
}

form {
    display: block;
}

#post-comment {
    position: absolute;
    right: 9px;
    bottom: 25px;
    width: 57px;
    height: 34px;
    /* color: black; */
    border: none;
}