.date {
    font-size: small;
    justify-content: start;
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.post-details {
    width: 80%;
}