.date {
    font-size: small;
    justify-content: start;
    color: var(--secondary);
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.post-details {
    width: 80%;
}

#comment {
    height: 50px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.040);
    padding: 10px;
}

textarea {
    resize: none;
    min-height: fit-content;
}

form {
    display: block;
}

.readComment {
    background-color: pink;
    padding: 10px;
}